<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <my-component first="Joe" last="Public"></my-component>
    <my-component class="alternate" first="Red" last="One"></my-component>
    <my-counter></my-counter>
    <my-counter class="alternate"></my-counter>
  </section>
</ion-content>
